<a href="https://colab.research.google.com/github/avawaxenberg/FDSfE_AWaxenberg/blob/main/HW2/NEWmovies_exploratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("https://github.com/fedhere/FDSfE_FBianco/blob/main/data/movies_metadata_kaggle.csv.zip?raw=true", compression = "zip")

In [3]:
print("the movie dataframe has dimensions".format(movies.shape))

the movie dataframe has dimensions

# <mark> WFF </mark> need to actually use string formatting. See the cell below:

In [4]:
print("the movie dataframe has dimensions {}".format(movies.shape))

the movie dataframe has dimensions (45454, 25)

In [5]:
movies.shape

(45454, 25)

In [6]:
nmovies_start = movies.shape[0]

In [7]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'earnings'],
      dtype='object')

In [8]:
movies.describe

<bound method NDFrame.describe of        adult                              belongs_to_collection      budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000.0
1      False                                                NaN  65000000.0
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0.0
3      False                                                NaN  16000000.0
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0.0
...      ...                                                ...         ...
45449  False                                                NaN         0.0
45450  False                                                NaN         0.0
45451  False                                                NaN         0.0
45452  False                                                NaN         0.0
45453  False                                                NaN         0.0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45449  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45450                      [{'id': 18, 'name': 'Drama'}]
45451  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45452                                                 []
45453                                                 []

                                   homepage      id    imdb_id  \
0      http://toystory.disney.com/toy-story     862  tt0114709
1                                       NaN    8844  tt0113497
2                                       NaN   15602  tt0113228
3                                       NaN   31357  tt0114885
4                                       NaN   11862  tt0113041
...                                     ...     ...        ...
45449  http://www.imdb.com/title/tt6209470/  439050  tt6209470
45450                                   NaN  111109  tt2028550
45451                                   NaN   67758  tt0303758
45452                                   NaN  227506  tt0008536
45453                                   NaN  461257  tt6980792

      original_language               original_title  \
0                    en                    Toy Story
1                    en                      Jumanji
2                    en             Grumpier Old Men
3                    en            Waiting to Exhale
4                    en  Father of the Bride Part II
...                 ...                          ...
45449                fa                      رگ خواب
45450                tl          Siglo ng Pagluluwal
45451                en                     Betrayal
45452                en          Satana likuyushchiy
45453                en                     Queerama

                                                overview  ...      revenue  \
0      Led by Woody, Andy's toys live happily in his ...  ...  373554033.0
1      When siblings Judy and Peter discover an encha...  ...  262797249.0
2      A family wedding reignites the ancient feud be...  ...          0.0
3      Cheated on, mistreated and stepped on, the wom...  ...   81452156.0
4      Just when George Banks has recovered from his ...  ...   76578911.0
...                                                  ...  ...          ...
45449        Rising and falling between a man and woman.  ...          0.0
45450  An artist struggles to finish his work while a...  ...          0.0
45451  When one of her hits goes wrong, a professiona...  ...          0.0
45452  In a small town live two brothers, one a minis...  ...          0.0
45453  50 years after decriminalisation of homosexual...  ...          0.0

      runtime                                   spoken_languages    status  \
0        81.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1       104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2       101.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
3       127.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4       106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
...       ...                                                ...       ...
45449    90.0             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released
45450   360.0                  [{'iso_639_1': 'tl', 'name': ''}]  Released
45451    90.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45452    87.0                                                 []  Released
45453    75.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline  \
0                                                    NaN
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
4      Just When His World Is Back To Normal... He's ...
...                                                  ...
45449         Rising and falling between a man and woman
45450                                                NaN
45451                             A deadly game of wits.
45452                                                NaN
45453                                                NaN

                             title  video vote_average vote_count   earnings
0                        Toy Story  False          7.7     5415.0  12.451801
1                          Jumanji  False          6.9     2413.0   4.043035
2                 Grumpier Old Men  False          6.5       92.0        NaN
3                Waiting to Exhale  False          6.1       34.0   5.090760
4      Father of the Bride Part II  False          5.7      173.0        inf
...                            ...    ...          ...        ...        ...
45449                       Subdue  False          4.0        1.0        NaN
45450          Century of Birthing  False          9.0        3.0        NaN
45451                     Betrayal  False          3.8        6.0        NaN
45452             Satan Triumphant  False          0.0        0.0        NaN
45453                     Queerama  False          0.0        0.0        NaN

[45454 rows x 25 columns]>

In [9]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,earnings
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,12.451801
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,4.043035
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,NaN
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.090760
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,inf

In [10]:
movies.tail()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,earnings
45449,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN
45450,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,NaN
45451,False,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN
45452,False,NaN,0.0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,NaN
45453,False,NaN,0.0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,NaN

In [11]:
movies.describe()

,budget,id,popularity,revenue,vote_average,vote_count,earnings
count,4.545400e+04,45454.000000,45451.000000,4.545100e+04,45451.000000,45451.000000,1.091600e+04
mean,4.225399e+06,108348.389075,2.921765,1.121157e+07,5.618543,109.917538,inf
std,1.742576e+07,112445.975875,6.005910,6.433842e+07,1.924085,491.356914,NaN
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,0.000000e+00,26447.500000,0.385945,0.000000e+00,5.000000,3.000000,0.000000e+00
50%,0.000000e+00,60004.000000,1.127613,0.000000e+00,6.000000,10.000000,1.273533e+00
75%,0.000000e+00,157304.000000,3.679334,0.000000e+00,6.800000,34.000000,7.267308e+00
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,10.000000,14075.000000,inf

In [12]:
movies.isna().sum(axis=0)

adult                        0
belongs_to_collection    40963
budget                       0
genres                       0
homepage                 37677
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                86
revenue                      3
runtime                      0
spoken_languages             3
status                      84
tagline                  25048
title                        3
video                        3
vote_average                 3
vote_count                   3
earnings                 34538
dtype: int64

In [13]:
initial_size = movies.shape[0]

In [14]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45454 entries, 0 to 45453
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45454 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45454 non-null  float64
 3   genres                 45454 non-null  object
 4   homepage               7777 non-null   object
 5   id                     45454 non-null  int64
 6   imdb_id                45437 non-null  object
 7   original_language      45443 non-null  object
 8   original_title         45454 non-null  object
 9   overview               44500 non-null  object
 10  popularity             45451 non-null  float64
 11  poster_path            45068 non-null  object
 12  production_companies   45451 non-null  object
 13  production_countries   45451 non-null  object
 14  release_date           45368 non-null  object
 15  revenue                45451 non-null  float64
 16  runtime                45454 non-null  object
 17  spoken_languages       45451 non-null  object
 18  status                 45370 non-null  object
 19  tagline                20406 non-null  object
 20  title                  45451 non-null  object
 21  video                  45451 non-null  object
 22  vote_average           45451 non-null  float64
 23  vote_count             45451 non-null  float64
 24  earnings               10916 non-null  float64
dtypes: bool(1), float64(6), int64(1), object(17)
memory usage: 8.4+ MB

# <mark> WFF </mark> Here we are missing an actual answer to our questions: why are the count values different for some of the columns, and how many missing values are in the runtime column.

In [15]:
import missingno as msno
msno.matrix(movies)

ModuleNotFoundError: No module named 'missingno'

# <mark> WFF </mark> Missing a figure caption here

In [ ]:
movies.columns

In [ ]:
movies.drop(['belongs_to_collection', 'homepage', 'tagline'], axis=1, inplace=True)

In [ ]:
movies.dropna()

In [ ]:
movies.dropna(subset = ["popularity"], inplace = True)

In [ ]:
movies["popularity"].max()

In [ ]:
movies["popularity"] == movies["popularity"].max()

# <mark> WFF </mark> We also asked you to ensure that the values dropped with the dropna method were actually removed.

In [ ]:
movies[movies["popularity"] == movies["popularity"].max()]

In [ ]:
mostpop = movies 
mostpop

df = dataframe

In [ ]:
df = pd.read_csv("https://github.com/fedhere/FDSfE_FBianco/blob/main/data/movies_metadata_kaggle.csv.zip?raw=true", compression = "zip")

In [ ]:
df["popularity"].max()

In [ ]:
df["popularity"] == df["popularity"].max()

In [ ]:
mask = df["popularity"] == df["popularity"].max()

In [ ]:
most_popular_movie = df[mask]["original_title"].values[0]

In [ ]:
print(f"The most popular movie in this dataset is {most_popular_movie}")

In [ ]:
mask = df["popularity"] == df["popularity"].min()

Least popular movie

In [ ]:
least_popular_movie = df[mask]["original_title"].values[0]

In [ ]:
print(f"The least popular movie in this dataset is {least_popular_movie}")

In [ ]:
mask = df["runtime"] == df["runtime"].max()

In [ ]:
longest_movie = df[mask]["original_title"].values[0]
longest_movie

In [ ]:
mask = df["revenue"] == df["revenue"].max()

In [ ]:
highest_revenue = df[mask]["original_title"].values[0]
highest_revenue

In [ ]:
df["revenue"][:5] / df["runtime"][:5].astype(float)

In [ ]:
df["revenue"][:5]

In [ ]:
df["runtime"][:5].astype(float)

# <mark> WFF </mark> Missing revenue per minute. You were on the right track

In [ ]:
df["rev_per_min"] = df["revenue"] / df["runtime"]
mask = df["rev_per_min"] == df["rev_per_min"].max()
highest_rev_per_min = df[mask]["original_title"].values[0]
highest_rev_per_min